/* Header */
.masthead {
  position: relative;
  min-height: 20rem;
  padding: 0 0 0 1.6rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .masthead {
    padding: 0 0 0 3rem;
    min-height: 20rem;
  }
}

@media screen and (min-width: 1200px) {
  .masthead {
    min-height: 50rem;
  }
}

.logo {
  max-width: 7.5em;
  margin-top: 2em;
}

.headerType {
  max-width: 90%;
}

.type {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.title {
  font-family: "MetricHPE-Web-Bold", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.6rem;
  color: #fff;
  filter: drop-shadow(0 0 10px #333);
}

@media screen and (min-width: 768px) {
  .title {
    max-width: 81%;
    font-size: 7.125rem;
    line-height: 6.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 10.125rem;
    line-height: 10.125rem;
    max-width: 85%;
  }
}

.subtitle {
  font-family: "MetricHPE-Web-Bold", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 3.3rem;
    line-height: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 4.75rem;
    line-height: 7rem;
    margin-bottom: 1em;
  }
}

.introcopy {
  position: relative;
  max-width: 85%;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .introcopy {
    font-size: 1.75rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .introcopy {
    font-size: 2rem;
    line-height: 2rem;
    max-width: 75%;
    margin-top: -2em;
  }
}

/* graph */
.graphContainer {
  height: 40em;
}

.graphContainerBottom {
  height: 40em;
  margin-bottom: 4em;
}
