.transition {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
}

.logo {
  display: none;
}

.back__arrow {
  max-width: 2rem;
}

.backButton {
  grid-column: 2 / span 2;
  background-color: rgba(1, 169, 130, 0);
  padding: 0.6rem 0.5rem 0.3rem 0.5rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
}

.storyNav {
  grid-column: 4 / span 8;
  grid-row: 1;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}

.navList a {
  display: block;
  text-decoration: none;
  color: #fff;
  list-style: none;
  padding: 0 0.5em;
  border-left: 4px solid #fff;
}

.navItem {
  font-family: "MetricHPE-Web-Light", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}

@media screen and (min-width: 800px) {
  .logo {
    display: block;
    grid-column: 2 / span 2;
    grid-row: 1;
    max-width: 7.5em;
  }

  .backButton {
    composes: transition;
    grid-column: 5 / span 1;
  }

  .backButton:hover {
    margin-left: -0.5rem;
    background-color: rgba(1, 169, 130, 1);
  }

  .storyNav {
    grid-column: 6 / span 6;
    grid-row: 1;
  }

  .navList {
    flex-direction: row;
    margin-top: 2.4em;
  }

  .navItem {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .navList {
    margin-top: 2.6em;
  }

  .navItem {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
