footer a {
  font-family: "MetricHPE-Web-Regular", sans-serif;
  font-size: 1rem;
  color: #ff8d6d;
}

@media screen and (min-width: 760px) {
  footer a {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

@media screen and (min-width: 1200px) {
  footer a {
    font-size: 1.7rem;
    line-height: 1.9rem;
  }
}

.storyFooter {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footerBar {
  grid-column: 11 / span 2;
  grid-row: 1;
  background-color: #01a982;
  height: 1em;
}

.ctaWrapper {
  margin: 6em 0;
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media screen and (min-width: 760px) {
  .ctaWrapper {
    align-items: center;
  }
}

.ctaButton {
  grid-column: 1 / span 3;
}

@media screen and (min-width: 760px) {
  .ctaButton {
    grid-column: 1 / span 3;
  }
}

.ctaCopy {
  grid-column: 5 / span 7;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.ctaCopy p {
  font-family: "MetricHPE-Web-SemiBold";
  line-height: 1.3rem;
}

@media screen and (min-width: 760px) {
  .ctaCopy {
    grid-column: 4 / span 8;
  }

  .ctaCopy p {
    font-size: 1.625rem;
    line-height: 1.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .ctaCopy p {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
